[Unit]
Description=sausage-store
Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=2
User=root

WorkingDirectory=/home/admin/

# Remove old containers, network and volumes
ExecStartPre=/usr/bin/docker-compose down -v

# Compose up
ExecStart=/usr/bin/docker-compose up

# Compose down
ExecStop=/usr/bin/docker-compose down

[Install]
WantedBy=multi-user.target
