# v1
[Unit]
Description=sausage-store
After=network.target
Requires=network.target


[Service]
Type=simple
Restart=always
RestartSec=2
User=root

Environment=LOG_PATH=/var/log/

StandardOutput=append:/var/log/out.log
StandardError=append:/var/log/out.log

ExecStart=java -jar /home/admin/sausage-store.jar \
            --spring.datasource.url=jdbc:postgresql://c-c9qe9747e5iuq9h12lg9:6432/sausage \
            --spring.datasource.username=sausage \
            --spring.datasource.password=your_password

[Install]
WantedBy=multi-user.target
